folder_id                    = "folders/123456789012"
project_name                 = "testing-elena"
pubsub_topic_name            = "streaming_data_inbound_schema"
pubsub_subscription_name     = "streaming_data_inbound_schema_sub"
bigquery_dataset_id          = "testing-elena.streaming-demo"
bigquery_dataset_name        = "pubsub_to_bq"
bigquery_dataset_description = "Raw Area"
bigquery_table_id            = "sensors_data"
bigquery_table_schema_file   = "../data/schema.json"
